[Unit]
Description=Selenium hub
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill selenium-hub
ExecStartPre=-/usr/bin/docker rm selenium-hub
ExecStartPre=/usr/bin/docker pull selenium/hub:2.44.0
ExecStart=/usr/bin/docker run --rm --name selenium-hub -p 4444:4444 selenium/hub:2.44.0
ExecStartPost=/bin/bash -c "source /etc/environment; IF=$(ifconfig | grep RUNNING| egrep -i '^(en|eth)'| cut -d':' -f1| tail -n1) && HOST_IP=$(/bin/ifconfig $IF | awk '/inet /{print $2}') && /usr/bin/etcdctl set /cianet/HUB_IP $HOST_IP"
ExecStop=/usr/bin/docker stop selenium-hub
ExecStopPost=-/usr/bin/etcdctl rm /cianet/HUB_IP

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=selenium-hub
